body{
    background-color: blueviolet;
}

main{
    text-align: center;
    color: white;
    position: relative;
    height: 80vh;
}

.position_center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
}