
header{
    height: 55px;
}

main{
    background-color: blueviolet;
    text-align: center;
    color: white;
    position: relative;
    height: 85vh;
}

footer{
    background-color: lightgray;
    height: calc(100vh - (85vh + 55px));
}